/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
body{
    background-image: url("PaginaSolano/Pics/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
}

/* Estilos para el encabezado */
header {
  background-color: #b7ac95de;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: rgb(57, 42, 18);
}

/* Estilos para las secciones */
section {
  padding: 50px;
  background-color: #ffffff4c;
  box-shadow: 0px 0px 10px rgba(223, 223, 223, 0.274);
}

section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Estilos para los hipervínculos */
a.pagina-libro {
  display: inline-block;
  background-color: #f90;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.boton-flotante {
  display: inline-block;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 150px;
  height: 150px;
  background-image: url(PagiNaSolano/Pics/FS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-flotante:hover {
  background-color: #ffffff00;
  transform: scale(1.1);
}
